*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    margin: 30px 30px;
    height: 10px;
    background-color: #ffffff;
}
.logo img {
    height: 40px;
}
.main{
    margin: 0px auto;
}
#sender{
    float: right;
    width: 150px;
    height: 25px;
    font-size: 15px;
    margin: 30px 100px;
}
form{
    width: 700px;
    background-color: #F5FBFF;
    margin: 50px auto;
    height: 400px;
    border: 1px solid #F5FBFF;
    border-radius: 10px;
}
#area1{
    margin: 0px 0px 0px 150px;
    width: 330px;
    height: 200px;
}
.contact{
    margin-top: 10px;
    margin-left: 150px;
}
h5{
    float: right;
    padding-top: 50px;
    padding-right: 10px;
    font-style: italic;
    color: #1F9FEC;
}
