*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    background-color: #ffffff ;
}
.logo{
    margin: 30px 30px 20px 30px;
    height: 10px;
    /* background-color: blue; */
    background-color: #ffffff;
}
.logo img {
    height: 40px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 60px 10px 60px;
    border-radius: 10px; 
    font-family: sans-serif;
    
}
#sender{
    float: right;
    width: 150px;
    height: 25px;
    font-size: 15px;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
}
form{
    width: 450px;
    background-color:#6099fa ;
    height: 550px;
    /* border: 1px solid #F5FBFF; */
    border-radius: 10px;
}
#area1{
    margin:20px 60px;
    width: 330px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
}
.contact{
    margin-top: 10px;
    margin-left: 60px;
    
}
.contact input {
    height: 25px;
    width: 320px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #F5FBFF;
    margin-bottom: 10px;
    padding-left: 10px;

}
h5{
    float: right;
    margin-top: 100px;
    padding-right: 15px;
    font-style: italic;
    color: #12669b;
}
